* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
  height: 80vh;

}

.moedas { 
  background-color: lightgrey;
  width: 30rem;
  padding: 1rem 2rem;
}

footer {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer a {
  color: lightskyblue;
}

footer a:hover {
  color: blue;

}