* {
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

header {
  background-color: black;
  color: white;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;

}

.moedas { 
  background-color: lightgrey;
  width: 18rem;
  padding: 1rem 3rem;
  box-shadow: 2px 2px 5px #242424;
}
.moedas h2 {
  font-family: sans-serif;
}
.moedas li {
  margin: 0.5rem;
  border-bottom: 1px solid grey;
  padding: 0.2rem;
  font-family: monospace;
  font-size: 15px;
}

.moedas li:hover {
  background-color: darkgrey;
}

.moedas span {
  color: blue;
}

footer {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer a {
  color: lightgrey;
}

footer a:hover {
  color: blue;
}